//  Variables
//  ==========================================================================


//  Typography
//  --------------------------------------------------------------------------

$base-font-family = 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
$base-font-size   = 16px
$base-line-height = 1.6

$icon-font-family = 'icomoon'


//  Colors
//  --------------------------------------------------------------------------

// colour of text and main colour overall
$color-primary   = #400255
// colour of any components, backgrounds, etc.
$color-secondary = #fff
// special colour to complement secondary colour
$color-tertiary  = #eee

$base-background-color = $white
$base-font-color       = #3d3d3d

$link-color       = $color-primary
$link-color-hover = lightness($link-color, 50%)


//  Border
//  --------------------------------------------------------------------------

$base-border-width  = 1px
$base-border-color  = #cccccc
$base-border-radius = 0.188em // 3px

$base-border        = $base-border-width solid $base-border-color


//  Wrapper
//  --------------------------------------------------------------------------

$wrapper-gutter   = 1rem // 16px
$wrapper-width-xl = 1200px
$wrapper-width-lg = 1000px
$wrapper-width-md = 780px


//  Animations
//  --------------------------------------------------------------------------

$base-duration = 0.3s
$base-timing   = ease


//  Directories
//  --------------------------------------------------------------------------

$path-font-base = '@assets/fonts/base-font/'
$path-font-icon = '@assets/fonts/icon-font/'
$path-img       = '@assets/images/'