.u-color1
  color: $color-primary
.u-color2
  color: $color-secondary
.u-color3
  color: $color-tertiary

.u-bg1
  background-color: $color-primary
.u-bg2
  background-color: $color-secondary
.u-bg3
  background-color: $color-tertiary
